/* Estilo geral */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #2980b9, #2c3e50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container de login */
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Tela de login */
.tela-login h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.tela-login form {
    display: flex;
    flex-direction: column;
}

/* Inputs */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #2980b9;
}

/* Botão */
button {
    padding: 12px;
    font-size: 16px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c6e98;
}

/* Novo cadastro */
.novo-cadastro {
    text-align: center;
    margin-top: 20px;
}

.novo-cadastro p {
    color: #333;
    margin-bottom: 10px;
}

.novo-cadastro a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.novo-cadastro a:hover {
    color: #1c6e98;
}

.logo {
    text-align: left; /* Centraliza o logo horizontalmente */
    margin-bottom: 20px; /* Espaçamento abaixo do logo */
    border: 2px solid rgba(0, 123, 255, 0.5); /* Borda semi-transparente em volta do logo */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    background-color: transparent; /* Fundo transparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    margin-right: 100px;
}

.logo img {
    max-width: 90%; /* Faz o logo se ajustar ao container */
    height: auto; /* Mantém a proporção do logo */
}
.btn-custom {
    background-color: white;     /* Fundo branco */
    color: #007bff;              /* Texto azul */
    border: 2px solid #007bff;   /* Borda azul */
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-top: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}